---
layout: default
title: FeelinLab
---

<div class="row">
<div class="col-9">
  <h1>Article List</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li class="acticle-box" class="{{ post.categories }}"> 
        <span class="acticle-title" >{{ post.title }}</span> 
        <span>{{ post.date | date_to_string }}</span>
        <div class="acticle-content">{{post.content}}</div>
      </li>
      <a class="pull-right" class="readmore" href="{{ site.baseurl }}{{ post.url }}">readmore</a>
      <hr>
 
    {% endfor %}
  </ul>
</div>

<div class="col-3">
    {% for category in site.categories %}
    <span>{{ category | first }}</span>
    </span>( {{ category | last | size }} )</span>
    <ul class="arc-list">
        {% for post in category.last %}
            <li><a href="{{ post.url }}">{{ post.title }}</a>{{ post.date | date:"%d/%m/%Y"}}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
</div>