<div class="container footer"> 
<div class="row">
    
    <div class="col-8">
    <div class="row">
    <div class="col-8">
        <div class="footer-item">
            <i class="iconfont icon-mingpian icon-middle"></i>&nbsp;傅玉林 William.Fu
        </div> 
    </div>
    </div>
    <div class="row">    
        <div class="col-4">
            <a href="http://www.weibo.com/william395">
                <i class="iconfont icon-xinlangweibo icon-middle"></i>&nbsp;傅玉林要提高境界
            </a>
        </div>
        <div class="col-4">
            <a href="">
                <i class="iconfont icon-youjian icon-middle"></i>&nbsp;williamgeeker@gmail.com
            </a>
        </div>
    </div>  
    <div class="row">
        <div class="col-4">
            <a href="https://github.com/Feelin">
                <i class="iconfont icon-github icon-middle"></i>&nbsp;Feelin
            </a>
        </div> 
        <div class="col-4">
            <i class="iconfont icon-dibiao icon-middle"></i>&nbsp;广东省广州市黄埔大道西601
        </div> 
    </div>
    </div>
    <div class="resume col-4">
        <a class="download" target="_blank" href="{{ site.baseurl }}/download/William_resume.pdf">
            <i class="iconfont icon-fujian icon-small"></i>
            我的简历      
        </a>
        <div class="copyright">
                Copyright © 2014 All Right Reserved William
        </div>  
    </div>  
</div>
</div>


