<div class="footer">
    <div class="container">     
    <div class="footer-info">
        <div class="footer-item">
            <i class="iconfont icon-mingpian icon-middle"></i>&nbsp;傅玉林 William.Fu
        </div>       
        <div class="pull-left footer-item">
            <a href="http://www.weibo.com/william395">
                <i class="iconfont icon-xinlangweibo icon-middle"></i>&nbsp;傅玉林要提高境界
            </a>
        </div>
        <div class="footer-item pull-left">
            <a href="">
                <i class="iconfont icon-youjian icon-middle"></i>&nbsp;williamgeeker@gmail.com
            </a>
        </div>
        <br>
        <div class="footer-item pull-left">
            <a href="https://github.com/Feelin">
                <i class="iconfont icon-github icon-middle"></i>&nbsp;Feelin
            </a>
        </div> 
        <div class="footer-item pull-left">
            <i class="iconfont icon-weizhi icon-middle"></i>广东省广州市黄埔大道西601
        </div> 
        <div class="copyright">
            Copyright © 2014 All Right Reserved William
        </div> 
    </div>   
    </div>
</div>


<!--includes javascript at the bottom so the page loads faster-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ site.baseurl }}/js/furatto.min.js"></script>
</body>
</html>