@charset "UTF-8";
/* line 1, ../sass/homepage.scss */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/** 清除内外边距 **/
/* line 8, ../sass/homepage.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea,
th, td {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
/* line 15, ../sass/homepage.scss */
body,
button, input, select, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

/* line 18, ../sass/homepage.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 19, ../sass/homepage.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */
/* line 20, ../sass/homepage.scss */
code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
/* line 21, ../sass/homepage.scss */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
/* line 24, ../sass/homepage.scss */
ul, ol {
  list-style: none;
}

/** 重置文本格式元素 **/
/* line 27, ../sass/homepage.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/homepage.scss */
a:hover {
  text-decoration: underline;
}

/** 重置表单元素 **/
/* line 32, ../sass/homepage.scss */
legend {
  color: #000;
}

/* for ie6 */
/* line 33, ../sass/homepage.scss */
fieldset, img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
/* line 34, ../sass/homepage.scss */
button, input, select, textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* line 38, ../sass/homepage.scss */
html, body, .home {
  height: 100%;
  width: 100%;
}

/* line 42, ../sass/homepage.scss */
.home {
  overflow: hidden;
  background: #35d699;
}

/* line 46, ../sass/homepage.scss */
.card {
  height: 100%;
  float: left;
  display: inline-block;
  font-size: 27px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

/* line 55, ../sass/homepage.scss */
.site-name-even {
  color: #00ac6b !important;
}

/* line 58, ../sass/homepage.scss */
.site-name-odd {
  color: #35d699 !important;
}

/* line 61, ../sass/homepage.scss */
.card:nth-child(even) {
  width: 30%;
  background: #35d699;
  color: #00ac6b;
}

/* line 66, ../sass/homepage.scss */
.card:nth-child(odd) {
  width: 20%;
  background: #00ac6b;
  color: #35d699;
}

/* line 71, ../sass/homepage.scss */
.site-name {
  font-size: 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -15px;
  letter-spacing: 0px;
}

/* line 79, ../sass/homepage.scss */
.full {
  position: absolute;
  top: 28px;
  left: 64px;
  font-size: 50px;
  display: none;
}

/* line 86, ../sass/homepage.scss */
.card-title {
  position: absolute;
  top: 20px;
  left: 30px;
}

/* line 91, ../sass/homepage.scss */
.card-logo {
  position: absolute;
  bottom: 50px;
  right: 40px;
}

/* line 96, ../sass/homepage.scss */
.iconfont {
  font-size: 50px;
}

/* line 99, ../sass/homepage.scss */
.card:hover {
  color: #fff;
}
