---
layout: default
title: 设计
name: design
tags: [PS]
---
<div class="row page">

<div class="col-9">
<div class="row">

  <h1 class="page-title">我的作品</h1>
  <ul class="posts">
  <hr>
    {% for post in site.categories[page.name] %}
      <li class="acticle-box {{post.tags[0]}}"> 
        <div class="this-tag pull-left">{{ post.tags[0] }}</div>
        <span class="acticle-title" >{{ post.title }}</span> 
        <span class="date pull-right">{{ post.date | date_to_string }}</span>
        {{ post.excerpt }}
        <div class="pull-right">
          <a class="readmore" href="{{ site.baseurl }}{{ post.url }}">继续阅读 
          <i class="iconfont icon-jinru icon-small"></i>
          </a>
        </div>
      <hr>
      </li>
    {% endfor %}
  </ul>
</div>
</div>

<div class="col-3">
    <div class="row danger featured">
    <span class="tags-title"><i class="iconfont icon-biaoqian icon-small"></i>&nbsp;相关标签</span>
     {% for tags in site.tags %}
     {% for pagetag in page.tags %}
        {% if pagetag == tags[0] %}
          <div class="tags-item">
           <a class="tags-name" href="javascript:void(0);"> {{ tags | first }} </a>
           <span class="tags-size" href="#">({{ tags | last | size }})</span>
          </div>
        {% endif %}
     {% endfor %}

  

    {% endfor %} 
    </div>
</div>

</div>

