<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        <meta name="description" content="This is William's preson blog">
        <meta name="keywords" content="front-end, frontend, web">
        <meta name="author" content="williamgeeker@gmail.com">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheets/homepage.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/iconfont.css">
          </head>
    <body >
   {{ content }}


<!--includes javascript at the bottom so the page loads faster-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/homepage.js"></script>
</body>
</html>
