{% include header.html %} 
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/images/favicon.png">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/public/css/stylesheets/homepage.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/public/css/icon/iconfont.css">
          </head>
    <body >
   {{ content }}


<!--includes javascript at the bottom so the page loads faster-->
<script src="http://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/public/js/homepage.js"></script>
</body>
</html>
