---
layout: article
---
<div class="row page">
    <div class="col-9">
    <article>
        <div class="this-tag pull-left">{{ page.tags[0] }}</div>
        <span class="acticle-title">{{ page.title }}</span>
        <span class="date">{{ page.date | date_to_string }}</span>        
        <hr>
        <div class="page-content">
        {{ content }}
        </div>
    </article>
    </div>
    <div class="col-3">
    {% for tags in site.tags %}
    {% if tags[0] == page.tags[0] %}
    <div class="row danger featured">
        <span class="tags-title"><i class="iconfont icon-lianjie icon-small"></i>&nbsp;相关文章</span>
    <ul class="arc-list">
        {% for post in tags.last %}
            <li><a class="tags-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <span class="pull-right">{{ post.date | date:"%d/%m/%Y"}}</span></li>
        {% endfor %}
    {% endif %}
    {% endfor %} 
    </ul>
    </div>
</div>
</div>

